<div ng-controller="homeWeather">
  <div id="googlemaps">
  </div>

  <div class="container">
    <div class="weatherForm">
      <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
          <h3 class="centerTitle">Get the fucking weather</h3>
          <form ng-submit="submitForm(inputCity)">
            <md-input-container>
              <input type="text" minlength="4" required ng-model="inputCity" placeholder="Location">
            </md-input-container>
            <md-button class="md-raised md-primary" type="submit" value="Go">Go</md-button>
          </form>
        </div>
        <div class="col-md-4"></div>
      </div>
    </div>
  </div>

  <div class="weatherSummary">
    <h1 class="weatherDescript">{{swear}} {{weather.weather["0"].description}}</h1>
  </div>

  <md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch>
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline">The other shit</span>
        <span class="md-subhead">{{weather.name}}</span>
        <span class="md-subhead">{{temp}}</span>
      </md-card-title-text>
      <md-card-title-media>
        <div class="md-media-lg card-media">
        </div>
      </md-card-title-media>
    </md-card-title>
    <md-card-actions layout="row" layout-align="end center">
      <md-button>Action 1</md-button>
      <md-button>Action 2</md-button>
    </md-card-actions>
  </md-card>
</div>
